@import url('https://fonts.googleapis.com/css?family=Finger+Paint');

body {
    margin: 0;
    padding: 0;
    font-family: "Finger Paint";
    background: #000;
}

section {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100vh;
    background: url(london.jpeg);
    display: flex;
    justify-content: center;
    align-items: center;
    background-attachment: fixed;
}

section h1 {
 margin: 0;
 padding: 0;
 text-align: center;
 font-size: 15em;
 letter-spacing: 10px;
 color: #fff;
 background: #000;   
 background-attachment: fixed;

}